/* Text font-family*/
body{
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

h1{
    font-family: 'Playfair Display', 'Helvetica', 'Arial', sans-serif;
    font-style: normal;
}

p{
    font-family: 'Poppins', 'Helvetica','Arial', sans-serif;
    font-style: normal;
}

/* Navigation bar mobile version*/

nav{
    display: flex;
    flex-direction: column;
}

a{
    color: #1A2236;
    text-decoration: none;
}

#menu-button{
    align-self: flex-end;
    opacity: 0.8;
    margin: 8px 1px 10px 10px;
}

#nav-list{
    display: none;
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    z-index: 2;
    margin: 0;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#closing-button{
    display: none;
    align-self: flex-end;
    margin-right: 16px;
    margin-top: 8px;
    width: 20px;
    height: 20px;
}

/* Navigation bar desktop version*/

@media (min-width: 768px){
    #menu-button{
        display: none;
    }
    
    #nav-list{
        justify-content: center;
        bottom: unset;
        display: flex;
        gap: 30px;
        flex-direction: row;
        padding: 15px 0px;

    }
}

/* Intro mobile version*/

.intro-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 4px;
    margin-right: 4px;
}
#hello-title{
    color: #1A2236;
    font-weight: 400;
font-size: 50px;
line-height: 100%;
margin-top: 104px;
margin-bottom: 0px;
}

#hello-intro{
    color: #1A2236;
    font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.01em;
}

#intro-button{
    background-color: #1A2236;
    color: #fff;
    border: none;
    padding: 12px;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.intro-img-mobile{
    position: absolute;
    top: 0;
    left: 0;
}

.intro-img-desktop{
    display: none;
}

.intro-dots{
    display: none;
}

/* Intro desktop version*/

@media (min-width: 768px){

.header-container{
    display: flex;
}
.intro-img-mobile{
    display: none;
}

.intro-img-desktop{
    display: block;
    right: 0;
    max-width: 50%;
}

#hello-title{
font-weight: 400;
font-size: 110px;
line-height: 100%;
}

#intro-button{
    align-self:flex-start;
    padding: 12px 20px;
}

.intro-container{
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-dots{
    display: block;
    align-self: flex-end;
}

.intro-img-mobile2{
    display: none;
}
}

/* Project section mobile version*/

#portfolio{
  margin-top: 20px;
}

.projects-title{
  color: #1A2236;
    font-weight: 400;
font-size: 50px;
line-height: 100%;
}

.cards-container{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.card-container-1,
.card-container-2,
.card-container-3,
.card-container-4,
.card-container-5,
.card-container-6{
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-bottom: 10px;
  background-color: #1A2236;
}

.card-title{
  font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 80%;
  margin-left: 8px;
  margin-top: 15px;
  margin-bottom: 25px;
  color: #fff;
}

ul{
  padding: 0;
}

.card-tags{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 4px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
font-size: 10.3334px;
line-height: 80%;
margin-bottom: 25px;
}

.tag{
  color: #000;
  background-color:#98DEDE;
  padding: 5px;
  border-radius: 3px;
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.card-button{
  margin-left: 8px;
  margin-right: 8px;
  color: #fff;
  background-color: #1A2236;
  border-color: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-arrow{
  margin-left: 4px;
  margin-top: 10px;
}

/* projects section desktop version*/

@media(min-width: 768px) {
  .cards-container{
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
  }

  .projects-title{
    grid-column: 1 / 4;
    grid-row: 1/4;
    width: 100%;
    height: 100%
  }

  .card-container-1{
      grid-column: 4 / 12;
      grid-row: 1/4;
      height: 100%;
  }
}