/* Text font-family*/
body{
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

h1{
    font-family: 'Playfair Display', 'Helvetica', 'Arial', sans-serif;
    font-style: normal;
}

p{
    font-family: 'Poppins', 'Helvetica','Arial', sans-serif;
    font-style: normal;
}

/* Navigation bar mobile version*/

nav{
    display: flex;
    flex-direction: column;
}

a{
    color: #1A2236;
    text-decoration: none;
}

#menu-button{
    align-self: flex-end;
    opacity: 0.8;
}

#nav-list{
    display: none;
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    z-index: 2;
    margin: 0;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#closing-button{
    display: none;
    align-self: flex-end;
    margin-right: 16px;
    margin-top: 8px;
    width: 20px;
    height: 20px;
}

/* Navigation bar desktop version*/

@media (min-width: 768px){
    #menu-button{
        display: none;
    }
    
    #nav-list{
        justify-content: center;
        bottom: unset;
        display: flex;
        gap: 30px;
        flex-direction: row;
        padding: 15px 0px;

    }
}

/* Intro mobile version*/

.intro-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 4px;
    margin-right: 4px;
}
#hello-title{
    color: #1A2236;
    font-weight: 400;
font-size: 50px;
line-height: 100%;
margin-top: 104px;
margin-bottom: 0px;
}

#hello-intro{
    color: #1A2236;
    font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.01em;
}

#intro-button{
    background-color: #1A2236;
    color: #fff;
    border: none;
    padding: 12px;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.intro-img-mobile{
    position: absolute;
    top: 0;
    left: 0;
}

.intro-img-desktop{
    display: none;
}

.intro-dots{
    display: none;
}

/* Intro desktop version*/

@media (min-width: 768px){

.header-container{
    display: flex;
}
.intro-img-mobile{
    display: none;
}

.intro-img-desktop{
    display: block;
    right: 0;
    max-width: 50%;
}

#hello-title{
font-weight: 400;
font-size: 110px;
line-height: 100%;
}

#intro-button{
    align-self:flex-start;
    padding: 12px 20px;
}

.intro-container{
    padding-right: 40px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-dots{
    display: block;
    align-self: flex-end;
}

.intro-img-mobile2{
    display: none;
}
}

/* Project section mobile version*/

.portfolio-illu{
    display: none;
}

.portfolio-title{
    color: #1A2236;
    font-weight: 400;
font-size: 50px;
line-height: 100%;
}

.card-container{
    background-color: #1A2236;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.card-content{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    gap: 10px;
    color: #fff;
}

.card-title{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 20px;
}

.card-tags{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 10.3334px;
    line-height: 80%;
}

.tag{
    background-color: #98DEDE;
    color: #000;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

ul{
    padding: 0;
}

.card-button{
    display: flex;
    gap: 10px;
    padding: 0;
    background-color: #1A2236;
    border-color: #fff;
    color: #fff;
    justify-content: center;
    max-width: 178px;
    margin-left: 10px;
}

.button-arrow{
    margin-top: 10px;
}

/* Project section desktop version*/

@media (min-width: 768px){
.card-content{
    background-color: #1A2236;
    opacity: 0.5;
    display: unset;
}

.portfolio-card-container {
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
  }

  .portfolio-1 {
    grid-column: 1 / 4;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
  }

  .portfolio-img {
    display: none;
  }

  .portfolio-title {
    transform: rotate(-90deg);
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    color: #1a2236;
  }

  .portfolio-2 {
    grid-column: 4 / 12;
    grid-row: 1/4;
    height: 100%;
    background-image: url("media/Rectangle\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .portfolio-2 img {
    height: 100%;
    width: 100%;
  }

  .portfolio-3 {
    grid-column: 1 / 4;
    grid-row: 5/7;
    background-image: url("media/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .portfolio-3 img {
    height: 100%;
    width: 100%;
  }

  .portpolio-illustration {
    display: block;
  }

  .illustration-1 {
    grid-row: 4 / 7;
    grid-column: 4/9;
  }

  .illustration-1 img {
    height: 100%;
    width: 100%;
  }

  .portfolio-4 {
    grid-column: 1 / 6;
    grid-row: 7/9;
    background-image: url("media/Rectangle\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .portfolio-4 img {
    height: 100%;
    width: 100%;
  }

  .portfolio-5 {
    grid-column: 6 / 9;
    grid-row: 9/11;
    background-image: url("media/Rectangle\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .portfolio-5 img {
    height: 100%;
    width: 100%;
  }

  .illustration-3 {
    grid-row: 9 / 10;
    grid-column: 1/2;
  }

  .illustration-3 img {
    height: 100%;
    width: 100%;
  }

  .illustration-4 {
    grid-row: 9 / 10;
    grid-column: 5/6;
  }

  .illustration-4 img {
    height: 100%;
    width: 100%;
  }

  .illustration-2 {
    grid-row: 8 / 9;
    grid-column: 6/12;
  }

  .illustration-2 img {
    height: 100%;
    width: 100%;
  }

  .portfolio-6 {
    grid-row: 6 / 8;
    grid-column: 9 / 12;
    background-image: url("media/Rectangle\ 5.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .portfolio-6 img {
    height: 100%;
    width: 100%;
  }

  .portfolio-7 {
    grid-row: 4 / 6;
    grid-column: 9 / 12;
    background-image: url("media/Rectangle\ 6.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .portfolio-7 img {
    height: 100%;
    width: 100%;
  }
}


