/* Text font-family*/
body{
    box-sizing: border-box;
    overflow-x: hidden;
}

h1{
    font-family: 'Playfair Display', 'Helvetica', 'Arial', sans-serif;
    font-style: normal;
}

p{
    font-family: 'Poppins', 'Helvetica','Arial', sans-serif;
    font-style: normal;
}

/* Navigation bar mobile version*/

nav{
    display: flex;
    flex-direction: column;
}

a{
    color: #1A2236;
    text-decoration: none;
}

#menu-button{
    align-self: flex-end;
    opacity: 0.8;
}

#nav-list{
    display: none;
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    z-index: 2;
    margin: 0;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#closing-button{
    display: none;
    align-self: flex-end;
    margin-right: 16px;
    margin-top: 8px;
    width: 20px;
    height: 20px;
}

/* Navigation bar desktop version*/

@media (min-width: 768px){
    #menu-button{
        display: none;
    }
    
    #nav-list{
        justify-content: center;
        bottom: unset;
        display: flex;
        gap: 30px;
        flex-direction: row;
        padding: 15px 0px;

    }
}

/* Intro mobile version*/

.intro-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
}
#hello-title{
    color: #1A2236;
    font-weight: 400;
font-size: 50px;
line-height: 100%;
margin-top: 104px;
margin-bottom: 0px;
}

#hello-intro{
    color: #1A2236;
    font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.01em;
}

#intro-button{
    background-color: #1A2236;
    color: #fff;
    border: none;
    padding: 12px;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.intro-img-mobile{
    position: absolute;
    top: 0;
    left: 0;
}

.intro-img-desktop{
    display: none;
}

.intro-dots{
    display: none;
}

/* Intro desktop version*/

@media (min-width: 768px){

.header-container{
    display: flex;
}
.intro-img-mobile{
    display: none;
}

.intro-img-desktop{
    display: block;
    right: 0;
    max-width: 50%;
}

#hello-title{
font-weight: 400;
font-size: 110px;
line-height: 100%;
}

#intro-button{
    align-self:flex-start;
    padding: 12px 20px;
}

.intro-container{
    padding-right: 40px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-dots{
    display: block;
    align-self: flex-end;
}
}